# Python cache, compiled files
*.pyc
**/__pycache__/*

# IDE files
**/.vscode/*
**/.idea/*

# Project specific files
model_laneExtraction*/*
validation_laneExtraction*/*
*/LogTmp/*
*/dataset_unpacked*/**

# MacOS Files
**/.DS_Store

# Pytorch Files
*.pth
**/__pycache__/*
# Data files
exp/*

deprecated/*